{% extends 'base.html.twig' %}

{% block title %} FooBarQix !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>FooBarQix game ✅</h1>

    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            <div class="col form-control">
                {{ form_label(form.input, '', {'attr': {'class': 'foo'}} ) }}
                {{ form_widget(form.input, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-action">
            <div class="col ">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
    {{ gameReturn }}
</div>
{% endblock %}
